.company_list {
  margin-top: 10px;
  list-style-type: disc;
}

.company_list__title {
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  margin-bottom: 6px;
}

.company_list__item {
  margin-left: 36px;
  color: #ea227a;
}

.company_list__item .company_desc__text {
  color: #1c1919;
}