/* стиль для контактов в шапке */
.contacts {
  width: 172px;
  text-align: right;
}

.contacts__phone {
  display: inline-block;
}

.contacts__phone-number {
  color: #ffffff;
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.contacts__time {
  display: inline-block;
  margin-top: 6px;
  margin-right: 3px;
}