/* стиль для авторских прав в подвале */

.copyright {
    text-align: left;
}

.copyright__text {
    font-family: "GothaProLig", Arial, Helvetica, sans-serif; 
    color: #ffffff;
    font-size: 0.9em;
    line-height: 1.3em;
}

.copyright__link {
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
}

.copyright__author {
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    font-weight: bold;
}





