.discount {
  margin-top: 26px;
  background-color: #27273e;
  width: 700px;
  min-height: 113px;
  padding-left: 30px;
  padding-top: 12px;
  padding-right: 59px;
}


.discount__text {
  color: #ffffff;
}

.discount__text--value {
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  color: #ed4891;
}