/*стили для дропдауна в шапке*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__title {
    color: #c02169;
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    text-decoration: underline;
}


.dropdown__content {
    display: none;
    position: absolute;
    padding: 33px 27px;
    left: -35px;
    background-image: url('/images/Rounded Rectangle 2.png');
    background-repeat: no-repeat;
    width: 180px;
    height: 98px;
    z-index: 1;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown__title {
    color: #7faad4;
}

.dropdown:hover .dropdown__content {
    display: inline-block;
}

.dropdown__worktime {
    color: #ec1e79;
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.dropdown__timeout {
    color: #221f1f;
    font-family: "GothaProLig", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 2.2em;
}