@font-face {
    font-family: "GothaProBol";
    src: url('/fonts/GothaProBol.otf');
}

@font-face {
    font-family: "GothaProLig";
    src: url('/fonts/GothaProLig.otf');
}

@font-face {
    font-family: "GothaProLigIta";
    src: url('/fonts/GothaProLigIta.otf');
}