/* стиль для подвала */

.footer {
    height: 77px;
    margin-top: -77px;
    position: relative;
    background-color: #27273e;
}

.footer__col {
    float: left;
    width: 33%;
}

.footer__copyrigth {
    margin-top:12px;
    margin-left: 20px;
}

.footer__logo {
    margin: 0 auto;
    margin-top: 14px;
}

.footer__socials {
    float: right;
    margin-right: 8px;
    margin-top: 20px;
}
