/* стили для навигационной панели в левой части страницы*/

.navigation {
    width: 200px;
}

.navigation__item {
    padding-left: 20px;
}

.navigation__link {
    display: inline-block;
}

.navigation__text {
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    color: #ec1e79;
    font-size: .8em;   
    text-transform: uppercase;
    line-height: 50px;
}

.navigation__text:before {
    background-repeat: no-repeat;
    padding-right: 16px;
}

/* стили для 1 пункта меню */

.navigation__text-main:before {
    content: url('/images/normal_icons/main_icon.png');
}

.active.navigation__text-main:before {
    content: url('/images/active_icons/main_icon.png');
}

.hover:hover.navigation__text-main:before {
    content: url('/images/active_icons/main_icon.png');
}

/* стили для 2 пункта меню */

.navigation__text-wallet:before {
    content: url('/images/normal_icons/wallet_icon.png');
}

.active.navigation__text-wallet:before {
    content: url('/images/active_icons/wallet_icon.png');
}

.hover:hover.navigation__text-wallet:before{
    content: url('/images/active_icons/wallet_icon.png');
}

/* стили для 3 пункта меню */

.navigation__text-feed:before {
    content: url('/images/normal_icons/feed_icon.png');
}

.active.navigation__text-feed:before {
    content: url('/images/active_icons/feed_icon.png');
}

.hover:hover.navigation__text-feed:before{
    content: url('/images/active_icons/feed_icon.png');
}

.active {
    color: #221f1f;
}

.hover:hover{
    color: #221f1f;
}
