/* стиль для меню с иконками соц. сетей */

.socials__title {
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.socials__items {
  padding-top: 9px;
}

.socials__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/socials_icons/Ellipse 1.svg');
  background-repeat: no-repeat;
  margin-right: 8px;
}

.socials__item:hover {
  background-image: url('/images/socials_icons/Ellipse 2.svg');
}

.socials__item--vk {
  padding-top: 2px;
  padding-left: 2px;
}

.socials__item--fb {
  padding-top: 2px;
  padding-left: 7px;
}

.socials__item--google {
  padding-top: 2px;
  padding-left: 2px;
}

.socials__item--twitter {
  padding-top: 2px;
  padding-left: 4px;
}

.socials__item--email {
  padding-top: 2px;
  padding-left: 4px;
}