.tariffs {
  margin-top: 42px;
}

.tariffs__item {
  display: inline-block;
  width: 250px;
  text-align: center;
  vertical-align: top;
  margin-right: 50px;
  margin-bottom: 48px;
}

.tariffs__item--last {
  margin-right: 20px;
}

.tariffs__link {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 153px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
  background-color: #22233b;
}

.tariffs__link-text {
  top: 65px;
  left: 74px;
  position: absolute;
  text-align: center;
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #5dd1f8
}

.tariffs__link-text--type_tenten {
  left: 76px;
}

.tariffs__link-text--type_endlessforone {
  top: 40px;
  left: 6px;
}


.tariffs__link-text--type_allinclusive {
  top: 54px;
  left: 20px;
}

.tariffs__link-text--type_talking {
  left: 30px;
}

.tariffs__img {
  max-height: 153px;
  max-width: 250px;
}

.tariffs__filter {
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0.85;
} 


.tariffs__link-label--pink {
  color: #ec1e79;
}


.tariffs__value {
  font-family: "GothaProBol", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 30px;
}

.tariffs__text {
  font-size: 14px;
  margin-top: 14px;
  line-height: 22px;
  font-family: "GothaProLig", Arial, Helvetica, sans-serif;
  color: #221f1f;
}
