/* стиль для телефона в шапке */

.timetable__phone {
    color: #ffffff;
    font-family: "GothaProBol", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.timetable__time {
    padding-top: 6px;
    padding-right: 3px;
}



 

   