/* стиль для главной кнопки на экране приветствия*/


.button {
    display: block;
    width: 180px;
    height: 42px; 
    border: 3px solid #ec1e79;
    line-height: 38px;
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #ec1e79;
    transition: all 0.3s;
}

.button:hover {
    background-color: #ec1e79;   
    color: #ffffff;
}




