/* стиль для контактов в шапке */
.contacts {
  width: 172px;
  text-align: right;
}

.contacts__phone {
  display: inline-block;
}

.contacts__phone-number {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.header__contacts {
  float: right;
  margin-top: 18px;
}

.contacts__dropdown {
  display: inline-block;
}