/* стиль для авторских прав в подвале */

.copyright {
    text-align: left;
}

.copyright__text {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
}

.copyright__link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

.copyright__author {
    font-weight: bold;
}

.footer__copyrigth {
    margin-top:12px;
    margin-left: 20px;
}





