/*стили для дропдауна в шапке*/
.dropdown {
    position: relative;
}

.dropdown__btn {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c02169;
    font-weight: bold;
    text-decoration: underline;
}

.dropdown__btn:hover {
    color: #799ecc;
    font-weight: bold;
    text-decoration: underline;
}


.dropdown__content {
    position: absolute;
    top:38px;
    right: -3000px;
    background-color: #fff;
    width: 162px;
    min-height: 70px;
    border-radius: 2px;
    z-index: 2;
    text-align: center;
    padding: 12px 10px;
    box-shadow: 0 0 13px #221f1f;;
    opacity: 0;
    transition: opacity .3s;
    
}

.dropdown__btn:hover + .dropdown__content {
    right: 0;
    opacity: 1;
}

.dropdown__content:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    right: 2px;
    top: -8px;    
}

.dropdown__text {
    font-size: 14px;
    color: #1c1919;
}

.dropdown__text--pink  {
    color: #ea227a;
    font-weight: bold;
}

