/*стили для дропдауна в шапке*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__btn {
    font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c02169;
    font-weight: bold;
    text-decoration: underline;
}


.dropdown__content {
    display: none;
    position: absolute;
    padding-top: 31px;
    padding-left: 18px;
    text-align: left;
    left: -53px;
    top: 22px;
    background-image: url("/images/Rounded Rectangle 2.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 98px;
    z-index: 1;
}

.dropdown:hover .dropdown__btn {
    color: #7faad4;
    font-weight: bold;
    text-decoration: underline;
}

.dropdown:hover .dropdown__content {
    display: inline-block;
}

.dropdown__worktime {
    color: #ec1e79;
    font-weight: bold;
    font-size: 14px;
}

.dropdown__timeout {
    color: #221f1f;
    font-size: 14px;
}