.form__container {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
  border-radius: 3px;
  width: 700px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 42px;
  padding-bottom: 40px;
}

.feed__form {
  margin-top: 70px;
  margin-bottom: 70px;
}

.form__title {
  margin-bottom: 30px;
}

.form__row {
  margin-top: 22px;
}

.form__elem {
  display: inline-block;
  width: 270px;
}

.form__elem--right {
  float: right;
}

.form__elem-title {
  display: inline-block;
  margin-bottom: 8px;
}



/* стили для полей ввода */

.form__input {
  width: 270px;
  height: 45px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
}

.form__input:focus {
  outline: 1px solid #ea227a;
}

.form__textarea {
  display: block;
  width: 560px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  color: #221f1f;
}

.form__textarea:focus {
  outline: 1px solid #ea227a;
}



/* стили для радио */

.form__elem-title--radio {
  margin-bottom: 0;
}

.form__buttons {
  margin-top: 18px;
}

.form__radio {
  float: left;
}

.form__radio-elem {
  display: inline-block;
  margin-right: 10px;
  height: 20px;
}

.form__radio-lable {
  position: relative;
}

.form__radio-checkbox {
  position: absolute;
  left: -3000px;
}

.form__radio-checkbox--styled {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #f7f7f8; 
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.form__radio-checkbox:checked + .form__radio-checkbox--styled {
  border-color: #ea227a;
  background-image: url("/images/feed/ellipse-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio-title {
  vertical-align: middle;

}
/* стили для кнопки */

.form__submit {
  float: right;
  padding-top: 2px;
}

.form__button {
  width: 140px;
  height: 45px;
  background-color: #27273e;
  border-radius: 3px;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 45px;
  letter-spacing: .2em;
  text-transform: uppercase;
  transition: all .6s;
}

.form__button:hover {
  background-color: #ec1e79;
  font-weight: bold;
}

