.intro__wrapper {
    height: 100vh;
    background-image: url("/images/aso6syjzgps-hannah-wei.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 240px;
    width: 180px;
    transform: translateX(-50%) translateY(-50%);
}

.intro__logo {
    margin: 0 auto;
    height: 120px;
    width: 160px;
}

.intro__logo-img {
    max-height: 120px;
    max-width: 160px;
}

.intro__button {
    margin-top: 32px;
}

